div.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.favourite-content-list {
  display: flex;
  margin-right: 20px;
  justify-content: center;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
}

.favourite-content--item {
  line-height: 24px;
  margin-left: 24px;

  span {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color); /* Dynamically adjust text color */
    transition: color 0.3s;

    &:hover {
      text-decoration: underline;
      color: var(--text-color); /* Ensure hover matches theme */
    }
  }
}
