.photo-fav-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;

  &--active {
    color: red; /* Changes to red when active */
  }

  &:hover {
    color: #ff6666; /* Hover effect for the button */
  }
}
